*{
  box-sizing: border-box;
}
html,body{
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.slide-enter-active, .slide-leave-active {
  transition: all 0.3s;
  transform: translate3d(0,0,0)
}
.slide-enter, .slide-leave-active {
  transform: translate3d(100%,0,0)
}


.height100view{
  height: 100%;
}
.childview{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #ffffff;
}